@charset "UTF-8";
@import "color";
@import "font-family";
@import "variable.scss";
@import "template";


/*===========================================================================
# news
=========================================================================== */
.news {
  background-image: url(../image/back.png);
  .news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include mq(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(sp) {
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 30px;
    margin-top: 30px;
    .news-image-area {
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
     
      img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
       
      }
    }

    .news-contents {
      background-color: #fff;
      min-height: 120px;
      padding: 14px;

      .date {
        color: #666666;
        @include mq(sp) {
          font-size: 14px;
        };
      }

      .news-content {
        color: $color-text-base1;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.3125;

        @include mq(sp) {
          font-size: 18px
        }
      }
    }
  }
  .pagenation {
    text-align: center;
    margin-top: 30px;

    .page-numbers {
      display: inline-block;
      line-height: 1;
      padding-top: 6px;
      width: 27px;
      height: 27px;
      background: transparent;
      border: solid 2px #1a1a1a;
      color: #1a1a1a;
      margin-left: 7px;
      font-weight: bold;
      
      @include mq(sp) {
        width: 50px;
        height: 50px;
        font-size: 20px;
        margin-left: 20px;
        padding-top: 15px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
    .current {
      background-color: #1A1A1a;
      border: solid 2px #1a1a1a;
      color: #F4D102;
    }
    .next {
      background: transparent;
      border: solid 2px #1a1a1a;
      color: #1a1a1a;
      vertical-align: baseline;
    }
  }
}


  /*===========================================================================
  # schedule
  =========================================================================== */
  .schedule {
   background-image: url(../image/back.png);
   
    line-height: 1.6;
    .transparent_bg {
      background-color:rgba(255,255,255,0.29);
      padding: 30px 72.7px 60px;

      @include mq(sp) {
        padding-right: 0;
        padding-left: 0;
      }

      .schedule-wrapper {
        margin-top: 22.5px;

        .schedule-contents {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          @include mq(lg) {
            flex-direction: column;
            justify-content: center;
          }

          &:first-child {
            margin-top: 0;
          }
          .date-time {
            display: flex;
            justify-content: space-between;

            @include mq(lg) {
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            .schedule-time {
              margin-left: 13px;
              @include mq(lg) {
                margin-left: 0;
                font-size: 15px;
              }
            }
          }

          .place-ticket {
            display: flex;
            justify-content: space-between;
            @include mq(lg) {
              justify-content: center;
            }

            @include mq(sp) {
              flex-direction: column;
              align-items: center;
            }

            .schedule-ticket {
              margin-left: 28px;
              @include mq(sp) {
                margin-left: 0;
              }              
            }
          }
          .schedule-content {
            font-size: 20px;
            color: $color-main;
            font-weight: bold;
            @include mq(lg) {
            }

            a {
              color: $color-main;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .button-area {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      @include mq(sp) {
        flex-direction: column;
        align-items: center;
      }
      .schedule-button {
        @include button($color-main);
        padding: 24px 31px 23px;
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }

        @include mq(sp) {
          margin-left: 0;

          &:nth-child(2) {
            margin-top: 20px;
          }
        };
      }

      .move-book {
        background-color: $color-active;
      }
    }
  }

  /*===========================================================================
  # footer
  =========================================================================== */
  footer {
    padding: 33px 0;
    background-color: #333333;

    .copyright {
      color: $color-text-base2;
      text-align: center;
      @include mq(sp) {
        font-size: 11px;
      }
    }
  }
  