@charset "UTF-8";
@import "color";
@import "font-family";
@import "variable.scss";
@import "header";

/*===========================================================================
# top
=========================================================================== */
.top {
  background-image: url(../image/hero-area.png);
  background-repeat: no-repeat;
  background-position: right -51.1px center;
  padding: 60px 0;
  color: $color-text-base2;
  position: relative;

  @include mq(sp) {
    background-position: center center ;
    background-size: auto 170%;
    object-fit: none;
  }
  
  

  .top-container {
    max-width: 80.7%;
    margin: 0 auto;

    @include mq(lg) {
      max-width: 100%;
      padding: 0 10%;
    }

    @include mq(sp) {
      padding: 0 4%;
    }
    

   .top-under-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     margin-top: 85px;

     @include mq(lg) {
      flex-direction: column;
      margin-top: 50px;
      align-items: flex-start;
     }
     @include mq(sp) {
       margin-top: 30px;
     }
     
     .date-place {
       width: 370px;

       @include mq(lg) {

       }

       @include mq(sp) {       
         width: 70%;
         margin: 0 auto;
       }

     }
     .description {
      width: 340px;
      font-size: 14px;
      line-height: 1.57;

      @include mq (lg) {
        width: 100%;
        margin-right: auto;
        margin-top: 40px;
      }

      @include mq(sp) {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 16px;
      }
      
     }

   }

   }
   .top-button-area {
  
    
    .move_book {
      @include button ($color-active);
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: calc(50% - 40.35%);
      transform: translateY(50%);

      @include mq(lg) {
        margin-right: 10%;
      }
      @include mq(sp) {
       
      }
    }
  }
}
/*===========================================================================
# section common
=========================================================================== */
section {
  padding: 30px 0;

  @include mq(sp) {
    padding: 40px 0;
  }

  .section-title {
    font-family: $font-family-english;
    font-size: 43px;
    text-align: center;
    color: $color-main;
    line-height: 1;
  }
}


/*===========================================================================
# INTRODUTION
=========================================================================== */
.introduction {
  background-image: url(../image/back.png);
  width: 100%;
  position: relative;
  z-index: -2;
  padding-top: 60px;
  
  .transparent_bg {
    background-image: url(../image/transparent_bg.png);
    position: relative;
    padding: 30px;
    z-index: -1;

    @include mq(sp) {
      padding: 30px 4%;
    }

    .intro-image {
      width: 230px;
      height: 207px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      @include mq(lg) {
        width: 25%;
      }
     
    }
    .title-wrapper {

      .section-title {
        line-height: 1;

        @include mq(sp) {
          font-size: 35px;
        }
      }
      .intro-description {
        font-size: 34px;
        text-align: center;
        color: $color-main;
        font-weight: 600;
        line-height: 1;
        margin-top: 15px;
        @include mq(lg) {
          font-size: 24px;
        }
        @include mq(sp) {
          font-size: 17px;
        }
      }
    }

    .intro-contents-wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      margin-top: 30px;

      @include mq(sp) {
        flex-direction: column;
      }

      .intro-content-left {
        width: 48%;
        @include mq(sp) {
          width: 100%;
          font-size: 16px;
          line-height: 1.5;
        }
      }

      .intro-content-right{
        width: 48%;
        @include mq(sp) {
          width: 100%;
          margin-top: 20px;
          font-size: 16px;
          line-height: 1.5;
        }
      }
      .intro_br {
        @include mq(sp) {
          margin-bottom: 20px;
        }
      }
      
    }

  }
}


/*===========================================================================
# NEWS
=========================================================================== */
.news {
  background-image: url(../image/back.png);
  .container {
    position: relative;

    .section-title {
      position: relative;
    }
    .news-item-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      @include mq(sp) {
        flex-direction: column;
      }
      
      .news-item {
        width: 31%;
  
        @include mq(sp) {
          width: 100%;
          margin-top: 24px;
          &:first-child {
            margin-top: 0;
          }
        }
        
        .news-image-area {
          overflow: hidden;
          padding-top: 56.25%;
          position: relative;
         
          img {
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
           
          }
        }
  
        .news-contents {
          background-color: #fff;
          min-height: 123px;
          padding: 14px;

          @include mq(sp) {
            min-height: 102px;
          }
  
          .date {
            color: #666666;
            @include mq(sp) {
              font-size: 14px;
            };
          }
  
          .news-content {
            color: $color-text-base1;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.3125;
  
            @include mq(sp) {
              font-size: 18px
            }
          }
        }
      }
    }
  
    .under-news-item-wrapper{
      display: flex;
      justify-content: space-between;
      margin-top: 27px;
  
  
      .under-news-item {
        background-color: #fff;
        width: 48%;
        height: 88px;
        a {
          display: flex;
          
  
          .under-news-image-area {
            position: relative;
            width: 156px;
            height: 88px;
           
            
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              
            }
          }
  
          .under-news-contents {
            padding: 14px 15px;
  
            .date {
              color: #666666;
            }
  
            .news-content {
              color: $color-text-base1;
              font-size: 16px;
              font-weight: 600;
              line-height: 1.3125;
            }
          }
        }
      }
    }
    .news-detail {
      @include button($color-active);
      padding: 13px 12px;
      font-size: 14px;
      position: absolute;
      top: 0;
      right: 0;
      @include mq(lg) {
        margin-right: 4%;
      }

      @include mq(sp) {
        position: static;
        margin: 0 auto;
        margin-top: 24px;
      }
    }
  }
}

/*===========================================================================
# story
=========================================================================== */
.story {
  background-image: url(../image/back.png);

  .story-bg {
   padding: 30px 0;
    background-image: url(../image/story.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

    .section-title {
      color: #ffffff;
      line-height: 1;

      }
    
      .story-content {
        width: 320px;
        margin-left: auto;
        margin-top: 19px;
        p {
          color: #ffffff;
        }

        @include mq(sp) {
          margin-right: auto;
          font-size: 16px;
          margin-top: 30px;
        }
      }

      .story-detail {
        @include button($color-active);
        margin-left: auto;
        color: #ffffff;
        padding: 11px 16px;
        margin-top: 8px;
      }
  }
}

/*===========================================================================
# comments
=========================================================================== */
.comments {
  background-image: url(../image/back.png);
 
  .comments-description {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: $color-main;
    margin-top: 24px;
    @include mq(sp) {
      font-size: 20px;
      font-weight: normal;
      line-height: 1.2;
    }
  }

  .comments-contents {
    margin-top: 24px;
    background-image: url(../image/comment.png);
    background-position: center center;
    padding: 44px 14.3px 14.5px 30px;
    background-repeat: no-repeat;

    @include mq(sp) {
      background-position: center right;
    }
    
    .comment-name {
      color: $color-text-base2;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;

      @include mq(sp) {
        text-align: right;
      }

      span {
        font-size: 26px;
        margin-left: 8px;

        @include mq(sp) {
          margin-left: 0;
          margin-top: 30px;
        }
      }
    }

    .comment-content {
      font-size: 14px;
      color: $color-text-base2;
      width: 52%;
      line-height: 1.57;
      margin-top: 11px;
    }

    .comment-detail {
      @include button($color-active);
      padding: 11px 23px 11.5px;
      margin-left: auto;
    }
  }

  /* comments　レスポンシブ版
  -------------------------------------------------------------------------- */
  .comments-contents-sp {
    background-color: #1a1a1a;
    color: $color-text-base2;
    margin-top: 24px;
    .image-space {
      background-image: url(../image/comment.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      width: 100%;
      object-fit: cover;
      padding-top: 50%;
      height: auto;
    }
    .comments-text {
      padding: 4%;
      .comment-job {
        font-size: 17px;
        line-height: 1;
      }
      .comment-name {
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
        margin-top: 10px;
      }
      .comment-content {
        line-height: 1.5;
        margin-top: 20px;
      }
      .comment-detail {
        @include button($color-active);
        margin: 0 auto;
        margin-top: 5px;
      }
    }
  }
}

/*===========================================================================
# cast
=========================================================================== */
.cast {
  background: linear-gradient(180deg
  , transparent 0%, transparent 215px, #FFFFF0 215px, #FFFFF0 100%);
  position: relative;
  height: 100%;
  

  .bg {
    background-image: url(../image/back.png);
    height: 215px;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
  }
  
  .cast-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    @include mq(sp) {
      flex-direction: column;
      
    }

    .cast-contents {
      width: 30.86%;

      @include mq(sp) {
        width: 100%;
        margin: 0 auto;
        margin-top: 24px;
        &:first-child {
          margin-top: 0;
        }
      }

      .cast-image {
        
        img {
          display: block;
          width: 220px;
          height: 220px;
          @include mq(lg) {
            width: 195px;
            height: 195px;
          }
          @include mq(sp) {
            width: 230px;
            height: 230px;
          }
          border-radius: 500px;
          margin: 0 auto;
        }
      }
      .cast-above {
        margin-top: 33px;
        text-align: center;
        @include mq(sp) {
          
        }
        .cast-role {
          font-size: 16px;
        }
        .cast-name {
          font-size: 18px;
          font-weight: bold;

          @include mq(sp) {
            font-size: 28px;
          }
        }
        .cast-job {
          display: block;
          margin-top: 8px;
          color: #666666;
          line-height: 1;
          @include mq(sp) {
            font-size: 13px;
          }
        }
      }
      
      .cast-under {
        margin-top: 12px;

      }
    }
  }
  .cast-button-area {
    text-align: center;
    margin-top: 20px;
    .cast-detail {
      display: inline-block;
      padding: 6px 18px 5px;
      border: solid $color-active 5px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: bold;
      color: $color-active;
      margin: 0 auto;
      background: transparent;
    }
  }
  }

  /*===========================================================================
  # schedule
  =========================================================================== */
  .schedule {
   background-image: url(../image/back.png);
   padding: 60px 0;
    line-height: 1.6;
    .transparent_bg {
      background-color:rgba(255,255,255,0.29);
      padding: 30px 72.7px 60px;

      @include mq(sp) {
        padding-right: 0;
        padding-left: 0;
      }

      .schedule-wrapper {
        margin-top: 22.5px;

        .schedule-contents {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          @include mq(lg) {
            flex-direction: column;
            justify-content: center;
          }

          &:first-child {
            margin-top: 0;
          }
          .date-time {
            display: flex;
            justify-content: space-between;

            @include mq(lg) {
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            .schedule-time {
              margin-left: 13px;
              @include mq(lg) {
                margin-left: 0;
                font-size: 15px;
              }
            }
          }

          .place-ticket {
            display: flex;
            justify-content: space-between;
            @include mq(lg) {
              justify-content: center;
            }

            @include mq(sp) {
              flex-direction: column;
              align-items: center;
            }

            .schedule-ticket {
              margin-left: 28px;
              @include mq(sp) {
                margin-left: 0;
              }              
            }
          }
          .schedule-content {
            font-size: 20px;
            color: $color-main;
            font-weight: bold;
            @include mq(lg) {
            }

            a {
              color: $color-main;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .button-area {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      @include mq(sp) {
        flex-direction: column;
        align-items: center;
      }
      .schedule-button {
        @include button($color-main);
        padding: 24px 31px 23px;
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }

        @include mq(sp) {
          margin-left: 0;

          &:nth-child(2) {
            margin-top: 20px;
          }
        };
      }

      .move-book {
        background-color: $color-active;
      }
    }
  }

  /*===========================================================================
  # footer
  =========================================================================== */
  footer {
    padding: 33px 0;
    background-color: #333333;

    .copyright {
      color: $color-text-base2;
      text-align: center;
      @include mq(sp) {
        font-size: 11px;
      }
    }
  }