@charset "UTF-8";
/*color*/
@import url("https://fonts.adobe.com/fonts/futura-pt#fonts-section");
/*===========================================================================
# 共通css
=========================================================================== */
body {
  line-height: 1.75;
  color: #333333;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 640px) {
  body {
    line-height: 1.6;
    font-size: 16px;
  }
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
}

button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.container {
  max-width: 810px;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .container {
    padding: 0 4%;
  }
}

@media screen and (max-width: 640px) {
  .hidden-sp {
    display: none !important;
  }
}

.only-sp {
  display: none;
}

@media screen and (max-width: 640px) {
  .only-sp {
    display: block;
  }
}

/*===========================================================================
# header & top bg
=========================================================================== */
.big-bg {
  background-image: url(../image/back.png);
  padding-bottom: 20px;
}

/*===========================================================================
# header
=========================================================================== */
header {
  height: 90px;
}

@media screen and (max-width: 640px) {
  header nav {
    display: none;
  }
}

header nav .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .header-list .header-list-item {
  margin-right: 31px;
  line-height: 90px;
}

header nav .header-list .header-list-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 850px) {
  header nav .header-list .header-list-item {
    margin-right: 20px;
  }
}

header nav .header-list .header-list-item-link {
  font-size: 22px;
  font-weight: bold;
  color: #421f15;
  position: relative;
}

header nav .header-list .header-list-item-link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background: #421f15;
  left: 0;
  bottom: -5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header nav .header-list .header-list-item-link:hover::after {
  width: 100%;
}

/*===========================================================================
# top
=========================================================================== */
.top {
  background-image: url(../image/hero-area.png);
  background-repeat: no-repeat;
  background-position: right -51.1px center;
  padding: 60px 0;
  color: #ffffff;
  position: relative;
}

.top .top-container {
  max-width: 810px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  .top .top-container {
    max-width: 100%;
    padding: 0 10%;
  }
}

@media screen and (max-width: 640px) {
  .top .top-container {
    padding: 0 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top .top-container .top-title-wrapper {
  width: 56.79%;
}

@media screen and (max-width: 640px) {
  .top .top-container .top-title-wrapper {
    width: 95%;
  }
}

.top .top-container .date-place {
  width: 30.86%;
}

@media screen and (max-width: 640px) {
  .top .top-container .date-place {
    width: 60%;
    margin-top: 30px;
  }
}

.top .top-button-area {
  max-width: 920px;
  margin: 0 auto;
}

.top .top-button-area .move_book {
  display: block;
  padding: 14px 15px;
  background-color: #c63205;
  color: #ffffff;
  font-weight: 600;
  line-height: 1;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: calc(50% - 40.35%);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media screen and (max-width: 850px) {
  .top .top-button-area .move_book {
    margin-right: 10%;
  }
}

@media screen and (max-width: 640px) {
  .top .top-button-area .move_book {
    left: 0;
    margin: 0 auto;
  }
}

/*===========================================================================
# パンクズエリア
=========================================================================== */
.breadcrumb {
  background-image: url(../image/back.png);
  padding-top: 10px;
}

@media screen and (max-width: 640px) {
  .breadcrumb {
    padding-top: 30px;
  }
  .breadcrumb .container {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
    margin: 0 4%;
  }
}

.breadcrumb span {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .breadcrumb span {
    font-size: 14px;
  }
}

/*===========================================================================
# section common
=========================================================================== */
section {
  padding: 30px 0;
}

@media screen and (max-width: 640px) {
  section {
    padding: 40px 0;
  }
}

section .section-title {
  font-family: "Futura-CondensedMedium", sans-serif;
  font-size: 43px;
  text-align: center;
  color: #421f15;
  line-height: 1;
}

/*===========================================================================
# inquiry
=========================================================================== */
input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
}

input[type="text"]:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.textarea-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
}

.textarea-text:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.submit {
  -webkit-appearance: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
}

.submit:hover,
.submit:focus {
  outline: none;
}

.submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.inquiry {
  background-image: url(../image/back.png);
}

.inquiry .transparent-bg {
  background-color: rgba(255, 255, 255, 0.29);
  padding: 30px;
  margin-top: 25px;
}

.inquiry .transparent-bg .inquiry-description {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.66666667;
}

.inquiry .transparent-bg form {
  margin-top: 21px;
}

.inquiry .transparent-bg form .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.inquiry .transparent-bg form .contact-item:first-child {
  margin-top: 0;
}

.inquiry .transparent-bg form .contact-item .contact-item-left {
  font-size: 18px;
  font-weight: bold;
}

.inquiry .transparent-bg form .contact-item input[type="text"],
.inquiry .transparent-bg form .contact-item input[type="email"],
.inquiry .transparent-bg form .contact-item textarea {
  width: 64.12%;
  height: 45px;
  background-color: #FFF8DC;
  border: none;
  margin-left: 16px;
}

.inquiry .transparent-bg form .contact-item textarea {
  height: 165px;
}

.inquiry .transparent-bg form .submit {
  display: block;
  padding: 14px 15px;
  background-color: #c63205;
  color: #ffffff;
  font-weight: 600;
  line-height: 1;
  font-size: 12px;
  border: none;
  padding: 21px 82px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 30px;
}

.inquiry .transparent-bg .contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.inquiry .transparent-bg .contact-message.-error {
  color: red;
}

/*===========================================================================
  # schedule
  =========================================================================== */
.schedule {
  background-image: url(../image/back.png);
  line-height: 1.6;
}

.schedule .transparent_bg {
  background-color: rgba(255, 255, 255, 0.29);
  padding: 30px 72.7px 60px;
}

@media screen and (max-width: 640px) {
  .schedule .transparent_bg {
    padding-right: 0;
    padding-left: 0;
  }
}

.schedule .transparent_bg .schedule-wrapper {
  margin-top: 22.5px;
}

.schedule .transparent_bg .schedule-wrapper .schedule-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 850px) {
  .schedule .transparent_bg .schedule-wrapper .schedule-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.schedule .transparent_bg .schedule-wrapper .schedule-contents:first-child {
  margin-top: 0;
}

.schedule .transparent_bg .schedule-wrapper .schedule-contents .date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .schedule .transparent_bg .schedule-wrapper .schedule-contents .date-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.schedule .transparent_bg .schedule-wrapper .schedule-contents .date-time .schedule-time {
  margin-left: 13px;
}

@media screen and (max-width: 850px) {
  .schedule .transparent_bg .schedule-wrapper .schedule-contents .date-time .schedule-time {
    margin-left: 0;
    font-size: 15px;
  }
}

.schedule .transparent_bg .schedule-wrapper .schedule-contents .place-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .schedule .transparent_bg .schedule-wrapper .schedule-contents .place-ticket {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .schedule .transparent_bg .schedule-wrapper .schedule-contents .place-ticket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.schedule .transparent_bg .schedule-wrapper .schedule-contents .place-ticket .schedule-ticket {
  margin-left: 28px;
}

@media screen and (max-width: 640px) {
  .schedule .transparent_bg .schedule-wrapper .schedule-contents .place-ticket .schedule-ticket {
    margin-left: 0;
  }
}

.schedule .transparent_bg .schedule-wrapper .schedule-contents .schedule-content {
  font-size: 20px;
  color: #421f15;
  font-weight: bold;
}

.schedule .transparent_bg .schedule-wrapper .schedule-contents .schedule-content a {
  color: #421f15;
  text-decoration: underline;
}

.schedule .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .schedule .button-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.schedule .button-area .schedule-button {
  display: block;
  padding: 14px 15px;
  background-color: #421f15;
  color: #ffffff;
  font-weight: 600;
  line-height: 1;
  font-size: 12px;
  padding: 24px 31px 23px;
  margin-left: 30px;
}

.schedule .button-area .schedule-button:first-child {
  margin-left: 0;
}

@media screen and (max-width: 640px) {
  .schedule .button-area .schedule-button {
    margin-left: 0;
  }
  .schedule .button-area .schedule-button:nth-child(2) {
    margin-top: 20px;
  }
}

.schedule .button-area .move-book {
  background-color: #c63205;
}

/*===========================================================================
  # footer
  =========================================================================== */
footer {
  padding: 33px 0;
  background-color: #333333;
}

footer .copyright {
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 640px) {
  footer .copyright {
    font-size: 11px;
  }
}
